body {
    margin: 0;
    padding: 0;
    font-family: optima;
}

#header {
    background-color: #A6EDF8;
    height: 160px;
    position: -webkit-sticky;
}

#header-title {
    color: white;
    font-size: 40px;
    text-shadow: 3px 3px 1px #477665;
    text-align: center;
    line-height: 40px;
    padding-top: 10px;
    letter-spacing: -2px;
}

#header-subtitle {
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
}

#header-subtitle a:link {
    text-decoration: none;
    color: #477665;
}

#header-subtitle a:visited {
    text-decoration: none;
    color: #477665;
}

#header-navigation {
    background-color: #477665;
}

#header-navigation ul li {
    list-style: none;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    width: 31.5%;
}

#header-navigation ul li a:link {
    text-decoration: none;
    color: white;
}

#header-navigation ul li a:visited {
    text-decoration: none;
    color: white;
}

.intro {
    color: #477665;
    font-size: 35px;
    text-align: center;
    padding: 30px;
    padding-bottom: 20px;
}

#intro-text {
    height: auto;
    width: 85%;
    background-color: #477665;
    border-radius: 15px;
    border: 8px solid white;
    margin-bottom: 30px;
    position: relative;
    left: 7.5%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#intro-text * {
    pointer-events: none;
}

#intro-text img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px 40px 20px 40px;
    padding: 10px 10px 10px 10px;
    background-color: white;
}

#intro-text div div {
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 5px;
}

#intro-text p {
    color: white;
    padding-right: 40px;
    padding-left: 20px;
    font-size: 17px;
}

#interest-text {
    height: auto;
    width: 85%;
    background-color: #A6EDF8;
    color: #477665;
    border-radius: 15px;
    border: 8px solid white;
    position: relative;
    left: 7.5%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#interest-text div {
    font-weight: bold;
    font-size: 30px;
    padding-left: 60px;
}

#interest-text ul {
    margin-left: 30px;
    font-size: 17px;
}

#interest-text ul li {
    list-style-type: circle;
}

#interest-text * {
    pointer-events: none;
}

#photo-section {
    margin-top: 20px;
}

#photo-section table {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#photo-section img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 5px 10px 5px 10px;
    padding: 10px 10px 10px 10px;
    background-color: #477665;
    border: 8px solid white;
}

#photo-section td {
    text-align: center;
}

#footer {
    background-color: #A6EDF8;
    height: auto;
}

hr {
    color: #477665;
    background-color: #477665;
    height: 27px;
    width: 100%;
}

#footer-content {
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px 1px #477665;
    text-align: center;
    line-height: 30px;
    padding-top: 4px;
}

#footer-content img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 12px 25px 5px 25px;
    padding: 10px 10px 10px 10px;
    border: 8px solid #A6EDF8;
    background-color: white;
}

#footer-content table {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

#footer-content td {
    text-align: center;
    width: auto;
}

h1 {
    color: #477665;
    font-size: 35px;
    text-align: center;
    padding: 30px;
    padding-bottom: 20px;
    font-weight: normal;
    height: 300px;
    position: relative;
    top: 100px;
}

input[type=text], textarea {
    width: 100%;
    padding: 10px;
    font-family: optima;
    font-size: 15px;
    border: 5px solid #477665;
    border-radius: 5px;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=submit] {
    background-color: #477665;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-family: optima;
  }
  
  input[type=submit]:hover {
    background-color: #A6EDF8;
  }
  
  .contact-form {
    border-radius: 5px;
    background-color:white;
    padding: 40px;
    font-size: 25px;
    color: #477665;
  }